.detail__content {
display: flex;
}

.shop__header{
display: flex;
margin-bottom: 20px;
  }

.back-button{
  width:30px;
  background-color: #fff;
  border: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 20px;
}

    .shop {
      width: 50%;
    }

.card__img img{
  width: 100%;
  margin:0 auto 0 0 ;
}

.shop__tag {
  display: flex;
  margin:20px 0;
}



.reserve {
  display: flex;
    flex-direction: column;
  width: 50%;
  background-color:rgba(48, 93, 255, 1);
  border-radius: 10px;
}

 .reserve h2{
  background-color: rgba(48, 93, 255, 1);
  color:#fff;
  padding: 10px 0;
 }

.form{
    display: flex;
      flex-flow: column;
      background-color: rgba(48, 93, 255, 1);

}

.form * {
  padding:10px;
  margin-bottom:10px;
  border-radius: 10px;
}

table {
  width:80%;
  text-align: left;
writing-mode: vertical-lr;
background-color:rgba(77, 127, 255, 1);
  border-radius: 10px;

}

th{
  width:100px;
}

th ,td{
  writing-mode: horizontal-tb;
  background-color: rgba(77, 127, 255, 1);
  color:#fff;
  padding:5px;
}

.error *,.error{
  display:flex;
  flex-flow: column;
  background-color: rgba(48, 93, 255, 1);
color:red
}

.submit{
  padding:10px;
  background-color:rgba(5, 56, 255, 1);
  border: black;
  color:#fff;
  margin-top: auto;
  border-radius:0 0 10px 10px;
}